html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.header {
  height: 60px;
  background: #7ca4d9;
  width: 100%; }

.grid-images__col {
  width: 25%;
  padding: 30px; }

.grid-images__middle {
  width: 50%;
  padding: 10px;
  float: left; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

.grid-images__col__inner-items {
  margin: 10px -10px;
  line-height: 0;
  font-size: 0;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  *zoom: 1; }
  .grid-images__col__inner-items:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden; }

.grid-images__col__inner-items__item {
  display: inline-block;
  text-align-last: left;
  text-align-last: left;
  vertical-align: top;
  width: 25%;
  padding: 10px; }

.grid-images__col__inner-items__item img {
  max-height: 166px !important; }

@media all and (max-width: 1024px) {
  .grid-images__middle {
    float: right; }

  .grid-images__col {
    padding: 14px;
    width: 30%; }

  .grid-images__last {
    float: none; }

  .grid-images__middle {
    width: 70%;
    padding: 7px 14px 7px 7px; }

  .grid-images__col__inner-items {
    margin: 0 -7px;
    text-align: left; }

  .grid-images__col__inner-items__item {
    width: 33.3%;
    padding: 7px; }

  .grid-images {
    padding-top: 20px; } }
@media all and (max-width: 500px) {
  .grid-images {
    padding-top: 15px; }

  .grid-images__col__inner-items__item {
    width: 50%;
    padding: 8.5px; }

  .grid-images__col {
    width: 100%;
    float: none;
    padding: 7px 10px; }

  .grid-images__col__inner-items {
    margin: 0 -8.5px;
    text-align: justify;
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
