@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin justify-blocks {
  line-height: 0;
  font-size: 0;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  *zoom: 1;


  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}