@import 'reset.scss';
@import 'mixins.scss';
//basic settings
.clearfix{
  @include clearfix();
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
//header
.header{
  height: 60px;
  background: #7ca4d9;
  width: 100%;
}
//grid-images settings
.grid-images__col{
  width: 25%;
  padding: 30px;
}

.grid-images__middle{
  width: 50%;
  padding: 10px;
  float: left;
}

img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

.grid-images__col__inner-items{
  margin: 10px -10px;
  @include justify-blocks;
}
//inner grid images
.grid-images__col__inner-items__item{
  display: inline-block;
  text-align-last: left;
  text-align-last: left;
  vertical-align: top;
  width: 25%;
  padding: 10px;
}

.grid-images__col__inner-items__item img{
  max-height: 166px!important;
}

//768
@media all and (max-width: 1024px) {
  .grid-images__middle{
    float: right;
  }
  .grid-images__col{
    padding: 14px;
    width: 30%;
  }
  .grid-images__last{
    float: none;
  }
  .grid-images__middle{
    width: 70%;
    padding: 7px 14px 7px 7px;

  }
  .grid-images__col__inner-items{
    margin: 0 -7px;
    text-align: left;
  }
  .grid-images__col__inner-items__item{
    width: 33.3%;
    padding: 7px;
  }
  .grid-images{
    padding-top: 20px;
  }
}

//320
@media all and (max-width: 500px) {
  .grid-images{
    padding-top: 15px;
  }
  .grid-images__col__inner-items__item{
    width: 50%;
    padding: 8.5px;
  }
  .grid-images__col{
    width: 100%;
    float: none;
    padding: 7px 10px;
  }
  .grid-images__col__inner-items{
    margin: 0 -8.5px;
    text-align: justify;
    padding: 0;
  }
}